body {
    background-color: #397ba7;
}
main {
    background-color: burlywood;
    margin-right: -15pt;
    margin-left: -15pt;
}
div.polaroidImgs {

    width:80%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 25px;
   margin-right: 20px;
   margin-left: 120px;
}
div.polaroid {
    text-align: center;
    padding: 10px 20px;
}

.columns {
    display: grid;
    float: left;
    width: 45%;
    padding: 5px;
}

.rows::after {
    content: "";
    clear: both;
    display: table;
}
header {
    background-color: #397ba7;
    color: white;
    text-align: center;
    padding: 1em;
}
.social_buttons{
    margin: 0;
}

body social button{
    height: 200vh;
}

.shareit {
    position: static;
    bottom: 20px;
    right: 0;

}

.shareit a {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.15s linear;
    text-decoration: none;

}

.shareit a:hover {
    opacity: 1;
}

.facebook {
    background: #3b5998;
}

.twitter {
    background: #55acee;
}

.linkedin {
    background: #0077b5;
}

.reddit {
    background: #FF4500;
}

.tumblr {
    background: #000000;
}

.pinterest {
    background: #cb2027;
}

footer {
    background-color: #397ba7;
}

