.venice {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 30px;

    color: black;

}
.venice_header {
    background: #397ba7;
    color: #fff;
    padding:5px;
    text-align: center;
}
.venice_header_a{
    color: black;
    font-size: 20px;
}
.venice_footer{
    background: #397ba7;
    color:black;
    padding:10px;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
}
.city {
    background-color: powderblue;
    color: black;
    border: 2px solid black;
    margin: 5px;
    padding: 60px;
    font-size: 30px;
    font-family: Montserrat;
}
.body{
    background-color: burlywood;
}


