.venice {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 30px;

    color: black;

}
.venice_header {
    background: #397ba7;
    color: #fff;
    padding:5px;
    text-align: center;
}
.venice_header_a{
    color: black;
    font-size: 20px;
}
.venice_footer{
    background: #397ba7;
    color:black;
    padding:10px;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
}
.city {
    background-color: powderblue;
    color: black;
    border: 2px solid black;
    margin: 5px;
    padding: 60px;
    font-size: 30px;
    font-family: Montserrat;
}
.body{
    background-color: burlywood;
}








.button{
    display: inline-block;
    vertical-align: top;
    height: 2.5rem;
    border: none;
    border-radius: 1.625rem;
    background-color: rgb(255, 71, 63);
    background-image: linear-gradient(rgb(255, 71, 63) 0%, rgb(255, 71, 63) 100%);
    padding: 0px 1.5rem;
    font-family: Nunito, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 2.5rem;
    letter-spacing: -0.5px;
    text-align: center;
    transition: background-color 0.5s ease 0s;
    color: white !important;
    cursor: pointer !important;
}
