 body {
            font-family: Montserrat, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
        margin: 0;
        padding: 0;
        background-image:
        url('https://plus.unsplash.com/premium_photo-1661902184762-49c2c8ebb787?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2016&q=80');
        background-size: cover;
        background-position: center;
        background-color: #333;
        color: #fff;
        text-align:-webkit-left;
        padding: 10px;
        }
           footer {
            background-color:  #ddb192;
            color: black;
            text-align: -webkit-center;
             padding:10px;;
            position: absolute;
            width: 100%;
        }
        .landmark {
            display: flex;
            align-items: center;
            margin: 20px;
            padding: 10px;
            border: 1px solid #e26917;
            border-radius: 5px;
        }
        .landmark img {
            max-width: 200px;
            margin-right: 20px;
        }
        .landmark-info {
            flex: 1;
        }
        h2 {
            margin: 0;
            font-size: 24px;
        }
        p {
            margin: 10px 0;
        }