.header-container {
    position: relative;
    top: 0;
    left: 0;
}
header {
  background: #397ba7;
  font-color: #ffffff;
  font-size: 20px;
  padding: 0.5rem 0;
  height: 3vh;
  text-align: center;
}
a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}
body {
    background-color: white;
}
.main-container {
    margin: 50px 180px 100px;
}

.main-container h3{
    margin-top: 55px;
    margin-bottom:35px;
    }
img{
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    height: 500px;
    object-fit: fill;
    aspect-ratio: 2/1;
}

.centered {
    object-fit: none;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
    object-fit: contain;
}

p {
    text-align: justify;
}

div.column-container{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1 fr 1fr;
    column-gap: 30px;
}

div.card{
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}

div.card img{
    margin: auto;
    height: auto;
}
div.card h3{
    margin:20px 15px 15px 10px;

    text-align:center;
}

div.card p{
    margin:20px;
    text-align:justify;
}

/* 3-column colour container*/
.container {
    display: grid;
    align-items:center;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px auto;

}
.column {
margin:auto;
  height: 400px;
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img img {
    height: 40px;
    width: 64px
 }
 .heading {
   padding-bottom: 20px;
 }

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
 }
.button {
  align-items: center;
  border-radius: 25px;
  border: none;
  justify-items: center;
  height: 50px;
  width: 145px;
}

.first-column {
   background-color: #626d87; ;
   border-radius: 12px 0px 0px 12px;
}
.first-column .button a {
   color: #626d87;
   cursor: pointer;
}
.second-column {
   background-color: #77a088 ;
}
.second-column .button a {
   color: #77a088  ;
   cursor: pointer;
}
.third-column{
   background-color: #bb8b8b;
   border-radius: 0px 12px 12px 0px;
}
.third-column .button a {
   color: #bb8b8b ;
   cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width: 760px){
  .container {
     grid-template-columns: repeat(1, 3fr);
     margin-top: 0px;
  }
  .first-column {
    border-radius: 12px 12px 0px 0px;
  }
  .third-column{
    background-color: #00403F;
    border-radius: 0px 0px 12px 12px;
  }
}

footer {
  background: #397ba7;
  font-size: 18px;
  color: #fff;
  padding: 1rem;
  text-align: center;
  height: 3vh;
}
